
    .isEntreprise{
        margin-right:66px;
    }
    .haveNoCount{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .noCount{
        cursor: pointer;
        color: black;
    }

    .add-user{
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 4vh;
    }

