<!--Section 1-->
<section class="hero" style="margin-bottom: 38px;">
    <div class="container">
        <div class="row">
            <div class="mon_texte">
            <h3 class="text-center mt-3">Une mission d'intérim en quelques clics.</h3>
            <h6 class="text-center mt-3 text-primary">
                Avec Habere je peux choisir mes horaires et je suis libre de travailler quand je veux.
            </h6>
            <h6 class="text-center mt-5">
                Habere ce sont  des missions, selon vos disponibilités vos envies et vos goûts.
                <strong>Vous êtes libre de travailler quand vous voulez et bientôt où vous voulez.</strong></h6>
        </div>
           <app-search></app-search>
            <div class="entreprise">
                <div class="col-12 col-sm-6 mesDivEntre">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Vous êtes une entreprise?</h5>
                          <p class="card-text ">Habere c'est le recrutement d'un intérimaire en fonction de ses compétences et de son expérience tout en étant rentable.</p>
                          <a  class="btn btn-primary" routerLink="/addMissions">Publiez une mission</a>
                        </div>
                      </div>
                </div>
                <div class="col-12 col-sm-6 mesDivEntre">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Vous êtes un intérimaire?</h5>
                          <p class="card-text">Habere vous proposes des missions en fonction de votre motivation et de votre expérience,<strong>pas besoin d'être pistonné(e).</strong></p>
                          <a  class="btn btn-primary" routerLink="/missions" >Trouver une mission</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-light">
    <div class="main bg-light">
        <div class="mesElementsFooter">
            <a class="mesLiens"><strong>A propos</strong></a>
            <a class="mesLiens"><strong>Conditions d'utilisation</strong> </a>
        </div>
    </div>
</footer>
<cookies-style></cookies-style>
<!-- End Section 1-->








